/* html, body{
  scroll-behavior: smooth;
} */

:root {
  --font-family: sans-serif;
  --text-color: #707070;
}

.container {
  margin-top:50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container h2 {
  font-weight: lighter;
  font-size: 2.1rem;
  margin-left:40px;
  color: var(--text-color);
}

.container h6 {
  margin-top: 20px;
  margin-left:40px;
  font-size: 1rem;
  font-weight: lighter;
  color: var(--text-color);
}

img {
  border-radius: 20px;
}

.section {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section h2 {
  font-weight: lighter;
  font-size: 2.1rem;
  margin-left:40px;
  color: var(--text-color);
}
.section h6 {
  margin-top: 20px;
  margin-left:40px;
  font-size: 1rem;
  font-weight: lighter;
  color: var(--text-color);
}

.pagination{
  border: 1px solid var(--text-color );
  height: 80px;
  border-radius: 20px;
  margin: 70px;
  display: flex;
  justify-content: space-around;
}

.pageNoBox{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
  /* background-color: green; */
}
.pageNo{
  color: var(--text-color);
  font-size: 1.5rem;
}
.pageNoBox :nth-child(1){
  padding: .7em 1.5em;
  border-bottom: 5px solid var(--text-color);
  border-radius: 5px;
}
.rest{
  width: 40%;

}

