:root {
  --font-family: sans-serif;
  --text-color: #707070;
}

.pagination {
  border: 1px solid var(--text-color);
  height: 80px;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.pageNo {
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 2px 20px;
}
.pageNo:hover {
  color: rgb(231, 104, 69) !important;
  border-bottom: 5px solid rgb(231, 104, 69);
  text-decoration: none;
  border-radius: 5px;
}
